/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    background-color: #054F80;
    margin: 0;
}

body::-webkit-scrollbar {
    width: .75em;
    background-color: #054F80;
}
   
body::-webkit-scrollbar-thumb {
    background-color: #57BCFF;
}

header {
    background-color: #57BCFF;
    padding: 5px;
    font-size: 40px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 60px;
}

nav li {
    background-color: #57BCFF;
    margin-left: 20px;
}

nav a {
    box-shadow: inset 0 0 0 0 #054F80;
    color: #fff;
    transition: .5s ease-in-out;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    padding: 5px;
}

nav a:hover {
    box-shadow: inset 300px 0 0 0 #054F80;
}

section {
    padding: 50px;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-shadow: 1px 1px #000;
}

#beats h2 {
    text-align: center;
    font-size: 60px;
}

.shopping-carousel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 10px;
}

.carousel-item {
    min-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    background-color: #57BCFF;
    border: 5px solid #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    text-align: center;
    text-shadow: 1px 1px #000;
}

.carousel-item img {
    width: 200px;
    height: auto;
    border: 5px solid #fff;
}

.carousel-item h3 {
    font-size: 24px;
    margin: 0;
}

.carousel-item h4 {
    font-size: 18px;
    margin: 0;
}

.carousel-item h4:last-child {
    font-size: 18px;
}

audio::-webkit-media-controls-panel {
    background-color: #fff;
}

.carousel-item ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;
}

.carousel-item p {
    font-size: 18px;
    margin-bottom: 10px;
}

.carousel-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #054F80;
    color: #fff;
    border: 5px solid #fff;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    box-shadow: inset 0 0 0 0 #fff;
    font-size: 24px;
    margin: 5px;
}

.carousel-item a:hover {
    color: #054F80;
    box-shadow: inset 600px 0 0 0 #fff;
    text-shadow: none;
}

#services h2 {
    text-align: center;
    font-size: 60px;
}

#services ul {
    list-style-type: none;
}

#services li {
    text-align: center;
    font-size: 30px;
    margin-right: 40px;
}

#contact {
    padding: 50px;
    text-align: center;
    color: #fff;
}

#contact h2 {
    margin-bottom: 20px;
    font-size: 60px;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
}

#contact label {
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

#contact textarea {
    height: 200px;
}

#contact button[type="submit"] {
    background-color: #054F80;
    box-shadow: inset 0 0 0 0 #57BCFF;
    color: #fff;
    padding: 5px 40px;
    border: 5px solid #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#contact button[type="submit"]:hover {
    box-shadow: inset 300px 0 0 0 #57BCFF;
    font-size: 40px;
}

footer {
    background-color: #57BCFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}


@media screen and (max-width: 600px) {
    header nav ul {
      flex-direction: column;
      max-width: 250px;
      margin: auto;
    }
    header nav a {
      display: block;
    }
    header nav li {
      margin-bottom: 10px;
    }
}